@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles to hide the scrollbar */
.scroll-container {
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
  scrollbar-face-color: transparent; /* Internet Explorer 11 */
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Change the color on hover */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}
